doctype html
html(lang="ru-RU")

	include ../common/head.jade

	body
		<!--[if lt IE 8]>
		<p class="browsehappy">	Ваш браузер<strong>устарел</strong>.Пожалуйста, <a href="http://browsehappy.com/">обновите</a> ваш браузер.</p>
		<![endif]-->

		.wrapper

			include ../common/header.jade

			.page-content
				block content

		include ../common/footer.jade