.question {
	padding: 50px 0 55px;
	border-top: 1px solid #e1e1e1;
	.title {
		margin-bottom: 50px;
	}
}

.ask {
	width: 565px;
	margin: 0 auto;
}

.ask__label {
	display: inline-block;
}

.ask__input {
	width: 340px;
}