extends ../layouts/main-layout.jade

block title
	title Главная северная

block content

	include ../common/banner.jade

	include ../common/options.jade

	include ../common/question-form.jade

	include ../common/territory.jade

	include ../common/to-top.jade

