section.banner
	.container
		.banner__wrap
			.banner-title
				h3.banner-title__text Приносим тепло в ваши дома

			.banner-descr
				.banner-descr__text Тепловая компания Северная обеспечивает теплом 237 дома в Санкт-Петербурге и Ленинградской области

			.banner-more
				a.banner-more__link(href="#") Подробнее
