section.options
	.container

		ul.options__list
			li.options__item
				a.options__link(href="#")
					.options__text Тарифы
			li.options__item
				a.options__link(href="#")
					.options__text территория обслуживания
			li.options__item
				a.options__link(href="#")
					.options__text Узлы учета тепловой энергии