section.territory
	.container

		.title
			h3.title__text Задать вопрос

		ul.territory__list
			li.territory__item
				a.territory__link.territory__link--north(href="#") ТК Северная
			li.territory__item
				a.territory__link.territory__link--energo(href="#") НордЭнерго
			li.territory__item
				a.territory__link.territory__link--novgorods(href="#") ТК Новгородская

		.territory-map
